<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>
  <img src="<%= @picsum_url %>" alt="User's Picture">
  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
